<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117203870422-jdq5j0i4973evfficbtd7eakt3ojedp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117203870422-jdq5j0i4973evfficbtd7eakt3ojedp4</string>
	<key>API_KEY</key>
	<string>AIzaSyA7oqhEbQALLOTC-MVT2Ucg3pbiZwGe1B8</string>
	<key>GCM_SENDER_ID</key>
	<string>117203870422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.takshashila.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>takshashila-50ca7</string>
	<key>STORAGE_BUCKET</key>
	<string>takshashila-50ca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117203870422:ios:693d3bd2dd3e283eef9f77</string>
	<key>DATABASE_URL</key>
	<string>https://takshashila-50ca7-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>